
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

nav Link {
    font-family: 'Poppins', sans-serif;
}

body
{
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}