* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-Auth {
  display: flex;
}

aside {
  max-width: 714px;
  height: 100vh;
}

aside img {
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.main-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -150px;
}

.main-content form input {
  width: 359px;
  height: 51px;
  margin: 0 auto;
  text-align: center;
}

.main-content form button {
  width: 359px;
  height: 51px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffa500;
  color: #000000;
  font-size: 18px;
  gap: 1rem;
}

.main-content form button img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.Register {
  width: 359px;
  height: 51px;
  margin-left: 170px;
  text-align: center;
  background-color: #ffa500;
  color: #000000;
  font-size: 18px;
  gap: 1rem;
}

.react-modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

.react-modal-content form input {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 359px;
  height: 51px;
  margin: 0 auto;
  text-align: center;
  border: 7px;
}

.react-modal-content form button {
  width: 359px;
  height: 51px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffa500;
  color: #000000;
  font-size: 18px;
  border-radius: 7px;
  gap: 1rem;
}

.react-modal-content form h1 {
  margin-top: -50px;
  text-align: center;
}

.react-modal-content {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 400px;
  background-color: #f0f2f5;
  margin: auto;
  border-radius: 7px;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

